.manga-card {
    /* Ajusta estos valores para cambiar el tama침o y estilo de las tarjetas */
    padding: 10px;
    max-width: 210px;
    max-height: 270px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-bottom: 100px;



  }
.boton1{
    /* Ajusta estos valores para cambiar el tama침o y estilo de los botones */
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    background-color: #ecebeb;
    cursor: pointer;
    margin-top: 10px;

    
  }
.boton1:hover{
    /* Ajusta estos valores para cambiar el color de fondo del bot칩n cuando el cursor est치 encima */
    background-color: #750f0f;
  }

.boton2 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #640202, #464545);
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 5px;
}

.boton2:hover {
    box-shadow: 0 0 10px #000000;
    background: linear-gradient(to right, #b6b6b6, #910000);
    color:#000000
}